<%- include("partials/header") -%>

<h1 class="main-title">Compose</h1>

<form action="/compose" method="post">
    <h5 class="compose-heading">Title</h6>
    <input type="text" class="form-control" name="postTitle">

    <h5 class="compose-heading">Post</h5>
    <textarea class="form-control" rows="6" name="postBody"></textarea>
    
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>